@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #D690A0;
}


/* * {
    border: 1px dotted black;
} */

.entry-img img {
    width: 100%;
    height: 100%;
}

.entry {
    background: url('img/background.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #D690A0;
}

.entry-caption {
    /* position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(5%, -75%); */
    /* margin-bottom: 0; */
}

.entry .form-label {
    /* position: absolute; */
    /* text-align: right; */
    /* top: 50%; */
    transform: translateY(30%)
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 1.3rem;
}

.nav-link {
    font-size: 1.1em !important;
}

#carouselExampleIndicators {
    padding: 0%;
    background-color: #000;
    /* justify-content: center; */
    /* align-content: center; */
    margin: auto;
}

#carouselExampleIndicators img {
    max-height: 25vh;
    object-fit: cover;
}

.entry-caption {
    color: #fff;
    /* position: relative; */
    /* top: 50%; */
    /* transform: translateY(-100%) */
}


/* .carousel-inner {
    height: 100%;
    object-fit: cover;
    margin: auto;
} */

.carousel-item img {
    /* margin: auto; */
    /* padding-top: 50%; */
    /* height: 100%; */
    /* height: auto; */
    /* width: 100%; */
    /* object-fit: cover; */
}

.entry-caption h1 {
    font-size: 400%;
    font-style: italic;
    text-shadow: 1px 1px 10px #000;
}

.entry-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.entry button {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.entry button:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.container hr {
    border-top: 1px solid #381035;
    width: 95%;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-code {
    color: #e54d26;
}

.fa-bold {
    color: #563d7c;
}

.fa-css3 {
    color: #2163af;
}

.fa-code,
.fa-bold,
.fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
    margin-bottom: 2rem;
}

.gif {
    max-width: 100%;
}

main,
.album {
    background-color: #D690A0;
}

.main-card .card,
.saved-trips .card {
    background-color: #ffffff;
}

.social a {
    font-size: 2em;
    padding: 1rem;
    text-align: center;
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-linkedin:hover,
.fa-github:hover {
    color: #d5d5d5;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

footer a:hover {
    color: #a7a7a7;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.saved-trips small {
    text-align: left;
}


/*---Media Queries --*/

@media (max-width: 992px) {
    .entry-caption h1 {
        font-size: 300%;
    }
}

@media (max-width: 768px) {
    .entry-caption {
        top: 45%;
    }
    .entry-caption h1 {
        font-size: 200%;
    }
    .entry-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .entry-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
}

@media (max-width: 576px) {
    .entry-caption {
        top: 40%;
    }
    .entry-caption h1 {
        font-size: 150%;
    }
    .entry-caption h3 {
        font-size: 110%;
    }
    .entry-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .entry-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
}


/*---Firefox Bug Fix --*/

.entry-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/